{% from "rabbitmq/map.jinja" import rabbitmq with context %}
[
  {rabbit, [
  {% if rabbitmq.cluster_hosts %}
  {cluster_partition_handling, {{ rabbitmq.cluster.partition_handling }}},
  {cluster_nodes, { {{ rabbitmq.cluster_hosts|list }},
                    disc}},
  {heartbeat,30}
  {% endif %}
    ]
  {% if rabbitmq.management.enabled %}
  },
  {rabbitmq_management, [{listener, [{port, {{ rabbitmq.management.port }}}]}]}
  {% else %}
  }
  {% endif %}
].
