{% from "rabbitmq/map.jinja" import rabbitmq with context %}
[
  {rabbit, [
  {% if rabbitmq.cluster_hosts %}
  {cluster_partition_handling, {{ rabbitmq.cluster.partition_handling }}},
  {cluster_nodes, {[
  {% for server, addrs in salt['mine.get']('roles:rabbitmq', 'network.interfaces', expr_form='grain').items() %}
  '{{ server }}',
  {% endfor %}
  ],disc}},

  {heartbeat,30}
  {% endif %}
    ]
  }
].
